body {
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  width: min(100% - 2rem, 1000px);
  margin-inline: auto;
}
.wrapper--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.wrapper__input {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

.separator {
  border: none;
  border-bottom: 1px solid #e4e4e4;
}

.main {
  padding-block: 1em;
}

.header {
  padding-block: 1em;
}
.header__title {
  font-size: 1.5rem;
  margin-block: 0;
}
.header__options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}
.header__button {
  padding: 0.2em 0.6em;
  text-decoration: none;
  font-size: 0.9rem;
  border: 1px solid #000000;
  border-radius: 0.2em;
  color: #000000;
}
.header__img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 1px solid #000000;
}
.header .fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #00abb3;
  color: #eaeaea;
}
.header__searchbar {
  display: grid;
  grid-template-columns: 15% 1fr;
  overflow: hidden;
  border-radius: 0.3em;
}
.header__input {
  padding: 0.5em;
  font-size: 0.8rem;
  background-color: #e4e4e4;
  border: none;
}
.header__input:focus {
  outline: none;
}

.nav .wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}
.nav__item {
  text-transform: uppercase;
  text-decoration: none;
  color: #3c4048;
  cursor: pointer;
}
.nav__item--active {
  font-weight: 600;
  color: #00abb3;
}

.section__lastest-posts {
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
  display: grid;
  gap: 1em;
}

.section__posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}
.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100px;
  width: 20%;
  height: 100%;
}
.card__body {
  width: 80%;
}
.card__title {
  font-size: 1rem;
  margin-block: 0;
  transition: color 0.3s ease;
  cursor: pointer;
}
.card__title:hover {
  color: #00abb3;
}
.card__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  font-size: 0.9rem;
  font-weight: 200;
  margin-block: 0;
  word-wrap: break-word;
  word-break: break-word;
}
.card__tags {
  font-weight: 200;
  font-size: 0.6rem;
  text-transform: uppercase;
}

.post__img {
  display: block;
  width: min(100% - 2rem, 400px);
  margin-inline: auto;
}
.post__title {
  color: #00abb3;
}
.post__description {
  font-size: 0.9rem;
  color: #3c4048;
}
.post__button {
  padding: 0.5em 0.8em;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.3em;
  transition: opacity 0.3s ease;
}
.post__button:hover {
  opacity: 0.7;
}
.post__button--blue {
  background-color: #00abb3;
  color: #eaeaea;
}
.post__button--red {
  background-color: #ba3631;
  color: #eaeaea;
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1em;
}
.form__label, .form__input {
  display: block;
}
.form__label {
  font-weight: 600;
  font-size: 0.9rem;
}
.form__input, .form__textarea {
  width: 100%;
  padding: 0.7em 0.5em;
  font-size: 0.8rem;
  border: none;
  background-color: #e4e4e4;
  border-radius: 0.3em;
}
.form__textarea {
  height: 9rem;
  resize: none;
}

@media screen and (min-width: 768px) {
  .section__lastest-posts {
    grid-template-columns: 1.5fr 35% 1fr;
    grid-template-rows: repeat(3, 110px);
    justify-content: center;
  }
  .section__lastest-posts .card {
    height: 100%;
  }
  .section__lastest-posts .card:first-child,
  .section__lastest-posts .card:last-child {
    flex-direction: column;
  }
  .section__lastest-posts .card:first-child .card__img,
  .section__lastest-posts .card:last-child .card__img {
    height: 50%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section__lastest-posts .card:first-child .card__body,
  .section__lastest-posts .card:last-child .card__body {
    height: 50%;
  }
  .section__lastest-posts .card:first-child {
    grid-area: 1/1/4/2;
  }
  .section__lastest-posts .card:last-child {
    grid-area: 1/3/4/4;
  }
  .section__lastest-posts .card:last-child .card__body {
    width: 100%;
  }
  .section__posts .card {
    flex-direction: row-reverse;
  }
}

